*{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body{
 height: 100%; 
 margin: 0%;  
}

body{
font-family:Arial, sans-serif;
background:#f5f5f5;
min-height: 100%;
display: flex; 
flex-direction: column;
}

/* HEADER */
header{
background:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.logo{
font-weight:bold;
color:#1B5E20;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#333;
}

.btn{
background:#FBC02D;
padding:8px 16px;
border-radius:6px;
color:black;
font-weight:bold;
}

/* BANNER */
.banner{
background:linear-gradient(rgba(27,94,32,0.7),rgba(27,94,32,0.7)),
url("../img/palma2.jpg");
background-size:cover;
background-position:center;
color:white;
padding:120px 20px;
text-align:center;
}

/* CONTENIDO */
.contenido{
max-width:1100px;
margin:40px auto;
padding:20px;
flex: 1;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

img{
width:100%;
border-radius:10px;
}

/* FOOTER */
footer{
background:#1B5E20;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}